* {
    margin: 0;
    padding: 0;
  }
  
  /*-General-*/
  body {
    font-family: "Rubik", sans-serif;
    color: #000;
  }
  
  a {
    color: #123f92;
    text-decoration: none;
  }
  
  a:hover {
    color: #192cab;
    text-decoration: none;
  }
  
  /*- Disable aos animation delay on mobile devices-*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /* Navigation */
  header {
    position: absolute;
    z-index: 1;
    background: url(https://images5.alphacoders.com/495/495521.jpg);
    width: 100%;
  }
  
  /* Add to cart Button */
  .cart-btn {
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #123f92;
  }
  
  .cart-btn:hover {
    background-color: #123f92;
    color: #fff;
  }
  
  @media (max-width: 992px) {
    .cart-btn {
      padding: 7px 20px 8px 20px;
      margin-right: 15px;
    }
  }
  
  #links {
    color: #fff !important;
    font-size: 20px;
    margin: 20px;
  }
  
  #links:hover {
    border-radius: 4px;
    border: 4px solid #123f92;
    margin: 15px;
  }
  
  main {
    min-height: 100vh;
    background-color: #7d7d7d;
  }
/* admin */
.admin-content {
}

/* admin content content */
  table {
    margin-top: 100px;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
  }

  th {
padding: 15px;
text-align: center;
border-bottom: 1px solid #faf7f7;
  }

td {
    border-bottom: 2px solid #000;
}

.edit {
    color: green;
} 

.edit:hover{
    color: #000;
    border: 2px solid green;
    background-color: green;

}

.delete {
    color: red;
}

.delete:hover{
    color: #000;
    border: 2px solid red;
    background-color: red;
}


  /* footer */
  .foot {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
  }
  
  .foot:hover {
    color: #2c75a9;
    font-weight: 700;
  }
  
  .copyright {
    font-weight: 500;
  }
  
  .foot_title {
    font-family: "Lora", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .icon {
    width: 100px;
        color: #000;
        font-size: 22px;
      }
  
  footer {
    background-color: #042a5b;
    font-family: "Rubik", sans-serif;
    color: #fff;
  }
  