* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}



body {
    font-family: 'Rubik', sans-serif;
      background-image: url(https://wallpaperaccess.com/full/7152622.jpg);
  background-position-y: top;
  background-repeat: no-repeat;
}

nav {
    color: white;
    font-size: 25px;
}
.logo {
  height: 50px;
  width: 50px;
  float: left;
  padding: 5px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* margin-left: 30% ; */
    padding: 14px 16px;
    justify-content: center; 
}
​
nav a {
    list-style: none; 
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
nav a:hover {
  background-color: #ddd;
  color: black;
    border-radius: 2px;
    padding: 5px;
}
​


.cart-img{
    top: 0%;
    float: right;
    margin-left: 10%;
    background-color: #04aa6d;
    color: white;
}


.title {
  font-size: 100px !important;
  font-family: "Lora", serif;
  color: white;
  font-style: italic;
  text-align: center;
}
